body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;
}

.btn-login {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #0056b3;
}

.form-control {
    border-radius: 5px;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #6c757d;
}

.custom-alert {
    padding: 6px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;   
}
@media (max-width: 768px) {
    .sidebar {
        height: auto;
        position: relative;
    }
}
.card h5 {
    margin-bottom: 0;
}


.sidebar ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar .nav-item:last-child {
    margin-top: auto;
}

.sidebar h4 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



